.order-information {
  padding: 1rem;
  border: 1px solid #ececec;
  position: relative;
}

.order-information__order-cost {
  font-weight: 700;
	display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% auto;
  grid-template-areas: "order-information__order-cost-title order-information__order-cost-value";
  margin-bottom: 2rem;
}

.order-information__order-cost-title {
  grid-area: order-information__order-cost-title;
  font-size: 1em;
}

.order-information__order-cost-value {
  grid-area: order-information__order-cost-value;
  text-align: right;
  font-size: 1.5em;
}

.order-information__actions {
  text-align: center;
}

.order-information__preloader {
  top: 25%;
  left: 25%;
  height: 0px;
}

.order-information__btn-goto-order-checkout {
  font-size: 1.15em !important;
}

.order-information__note {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1400px) {
  .order-information__btn-goto-order-checkout {
    font-size: 1.5em !important;
  }
}
