.site-commerce-cart-product-add-form__btn-no-background {
  background: none;
  color: #000;
  border: 2px solid black;
}

.site-commerce-cart-product-add-form__btn-no-background:hover {
  background: #eeeeee;
  color: #000;
}

.site-commerce-cart-product-add-form__not-in-stock {
  text-align: center;
  display: initial;
  font-size: 2rem;
  opacity: .5;
}

.site-commerce-cart-product-add-form__not-in-stock_catalog {
  font-size: 1rem;
}
