.checkout-order-information {
  padding: 1rem;
  border: 1px solid #ececec;
  position: relative;
}

.checkout-order-information__order-cost {
  font-size: 0.875em;
  font-weight: 700;
	display: grid;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: 50% auto;
  grid-template-areas: "checkout-order-information__order-cost-title checkout-order-information__order-cost-value";
  border-top: 1px solid #ececec;
  padding-top: 1rem;
}

.checkout-order-information__order-cost-title {
  grid-area: checkout-order-information__order-cost-title;
}

.checkout-order-information__order-cost-value {
  grid-area: checkout-order-information__order-cost-value;
  text-align: right;
  font-size: 1.5em;
}

.checkout-order-information__header-title {
  grid-area: checkout-order-information__header-title;
  font-size: 1.5em;
}

.checkout-order-information__header-value {
  grid-area: checkout-order-information__header-value;
  text-align: right;
}

.checkout-order-information__header {
  font-size: 1em;
  font-weight: 700;
	display: grid;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: 50% auto;
  grid-template-areas: "checkout-order-information__header-title checkout-order-information__header-value";
  margin-bottom: 1rem;
}

.checkout-order-information__preloader {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 100px;
}
