.checkout-details-wrapper {
	margin-bottom: 4rem;
}

.checkout-details-title {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 1rem;
}

.checkout-details__items {
	grid-area: checkout-details__items;
}

.checkout-details__order-information {
	grid-area: checkout-details__order-information;
}

.checkout-details__order-information-item {
	margin-bottom: 0.5rem;
}

.checkout-details__order-information-item:last-child {
	margin-bottom: 0;
}

.checkout-details__order-information-button-delete-order {
	margin-top: 2rem;
}

.checkout-details {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas: 'checkout-details__items' 'checkout-details__order-information';
	align-items: start;
}

.checkout-details__item-image {
	grid-area: checkout-details__item-image;
	text-align: center;
}

.checkout-details__item-title {
	grid-area: checkout-details__item-title;
}

.checkout-details__item-quantity {
	grid-area: checkout-details__item-quantity;
	text-align: center;
}

.checkout-details__item {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 'checkout-details__item-image checkout-details__item-title';
	align-items: center;
	margin: 1.5rem 0;
	padding: 1rem 0;
	border-bottom: 1px solid #f5f5f2;
}

.checkout-details__item:last-child {
	border-bottom: 0;
}

@media only screen and (min-width: 768px) {
	.checkout-details__item {
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 'checkout-details__item-image checkout-details__item-title';
	}
}

@media only screen and (min-width: 1200px) {
	.checkout-details {
		grid-template-columns: 2fr 1fr;
		grid-gap: 2rem;
		grid-template-areas: 'checkout-details__items checkout-details__order-information';
	}
}

.button--delete-order {
	text-align: center;
	display: inherit;
	background: #f5f5f5;
	padding: 1rem;
}

.button--delete-order:hover,
.button--delete-order:focus {
  text-decoration: none;
  outline: none;
  background: #f9f8f6;
}

.button--delete-order:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
}

.button--delete-order:active {
  -webkit-transition: none;
  transition: none;
  border: 1px solid #a6a6a6;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
