.site-commerce-order-user-orders-dashboard {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.site-commerce-order-user-orders-dashboard__item {
  padding: 1rem;
  background: #fcfcfc;
  text-align: center;
  align-items: center;
}

.site-commerce-order-user-orders-dashboard__item:hover {
  cursor: pointer;
  background: #f5f5f5;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (min-width: 992px) {
  .site-commerce-order-user-orders-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
