{# Look variables in template_preprocess_site_commerce_order_checkout_details #}

{# Enabling the basket design library #}
{{ attach_library('site_commerce_order/checkout_details') }}

{% if positions_in_cart %}
  <div class="checkout-details-wrapper">
    <div class="checkout-details">
      <div class="checkout-details__items">
        <div class="checkout-details-title">{{ 'Order structure'|t }}</div>
        {% for cid, data in products %}
          <div id="checkout-details__item-{{ cid }}" class="checkout-details__item">
            <div class="checkout-details__item-image">
              <img class="checkout-details__image" src="{{ data.image_url }}"/>
            </div>
            <div class="checkout-details__item-title">
              {{ data.title }}, {{ data.quantity_cart }} {{ data.quantity_unit }} &times; {{ data.price }} {{ data.symbol }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="checkout-details__order-information">
        {{ order_information }}
      </div>
    </div>
  </div>
{% endif %}
