{{ attach_library('site_commerce_order/checkout_details') }}

<div class="checkout-details-wrapper">
	<div class="checkout-details-title">{{ 'Order structure'|t }}</div>
	<div class="checkout-details">
		<div class="checkout-details__items">
			{% for cid, data in products %}
				<div id="checkout-details__item-{{ cid }}" class="checkout-details__item">
          <div class="checkout-details__item-title">
					{% if data.url %}
				    <a class="cart__item-link" href="{{ data.url }}" target="_blank">{{ data.title }}</a>
			    {% else %}
				    {{ data.title }}
			    {% endif %}
					</div>
          <div class="checkout-details__item-quantity">
					{% if data.quantity_unit %}
					  {{ data.quantity_cart }} {{ data.quantity_unit }}
				  {% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="checkout-details__order-information">
			{{ content }}
		</div>
	</div>
</div>
