.carousel-cell {
  width: 100%;
  max-height: 300px;
  min-height: 150px;
  counter-increment: carousel-cell;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.flickity-page-dots {
  position: initial;
  margin: 0;
}

.flickity-prev-next-button {
  top: 45%;
}

.flickity-page-dots .dot {
	width: 5px;
	height: 5px;
	margin: 0 3px;
	opacity: 0.25;
}
