.catalog-products-filters-categories__root {
  font-weight: 700;
}

.catalog-products-filters-categories {
  margin: 1rem 0;
}

.catalog-products-filters-categories__items {
  margin-left: .5rem;
}

.catalog-products-filters-categories__current {
  padding: 0.35rem;
  margin: 0.35rem 0;
  background: #dbdbdb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.catalog-products-filters__arrow-back {
  transform: rotate(-180deg);
}

.catalog-products-filters__link {
  color: #252525;
  width: 100%;
  padding: 0.35rem;
  display: block;
}

.catalog-products-filters__link:hover {
  color: #000000;
  background: #dbdbdb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.catalog-products-filters__count {
  font-weight: 700;
  color: #717171;
  font-size: 0.75rem;
}

.catalog-products-preview {
  margin: 4rem 0;
}

.catalog-products {
  margin: 4rem 0;
  display: grid;
  align-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0rem;
  row-gap: 4rem;
}

@media (min-width: 768px) {
  .catalog-products {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    row-gap: 4rem;
  }
}

@media (min-width: 992px) {
  .catalog-products {
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 1200px) {
  .catalog-products {
    grid-template-columns: 1fr 4fr;
  }
}

.catalog-products__items {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  row-gap: 4rem;
}

.catalog-products__items-2 {
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 5rem;
}

.catalog-products__items-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.catalog-products__items-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog-products__items-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.catalog-products__category {
  margin-bottom: 4rem;
}

.catalog-products__category:last-child {
  margin-bottom: 0;
}

.catalog-products__category-title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 3rem 0rem;
}

.catalog-products__category-title-link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.catalog-products__category-title-link:hover {
  color: #0049db;
}

.catalog-products__category-title-header {
  padding: 0;
  margin: 0;
}

.catalog-products__item {
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: box-shadow 0.15s ease-in-out;
  -webkit-transition: box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -ms-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
}

.catalog-products__item:hover {
  z-index: 2;
  box-shadow: 0 5px 25px rgba(30, 31, 33, 0.12);
}

.catalog-products__item-link {
  color: #000000;
  font-size: 0.875em;
  display: block;
}

.catalog-products__item-element {
  margin-bottom: 1rem;
}

.catalog-products__item-image {
  text-align: center;
  height: 200px;
}

.catalog-products__item-link:hover {
  color: #000000;
}

.catalog-products__item-details {
  margin: 1rem 0 0 0;
  color: gray;
  display: none;
}

.catalog-products__item_not-in-stock .catalog-products__item-image {
  opacity: 0.5;
  transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
}

.catalog-products__item_not-in-stock:hover .catalog-products__item-image {
  opacity: 1;
}

.catalog-products__read-more {
  margin: 4rem 0;
}

.catalog-products__read-more-category {
  padding: 1rem;
  background: #ebebeb;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.catalog-products__read-more-category:hover {
  background: #dbdbdb;
  color: #000000;
}

.catalog-products__item-title {
  min-height: 2rem;
  word-wrap: break-word;
}

.catalog-products__category-summary {
  margin-bottom: 2rem;
}

.taxonomy-term-site-commerce-catalog-field-summary {
  margin-bottom: 2rem;
}

.taxonomy-term-site-commerce-catalog-full__content .views-view__pager {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .catalog-products__item-title {
    min-height: 3rem;
  }
  .catalog-categories__item {
    display: inline-block;
    margin: 0.5rem;
  }
  .catalog-categories__item-title-link {
    display: inline-block;
  }
}
