.site-commerce-product-catalog {
	display: grid;
	align-content: space-evenly;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	row-gap: 2rem;
	margin: 4rem 0;
}

.site-commerce-product-catalog__image {
	display: none;
}

.site-commerce-product-catalog__title {
	margin-bottom: 1rem;
}

.site-commerce-product-catalog__link {
	font-weight: 700;
}

.site-commerce-product-catalog-children-list {
	padding: 0;
	list-style-type: none;
}

.site-commerce-product-catalog-children-list__link {
	color: #4e4e4e;
}

@media (min-width: 992px) {
	.site-commerce-product-catalog {
		grid-template-columns: 1fr 1fr;
		row-gap: 4rem;
	}
}

@media (min-width: 1200px) {
	.site-commerce-product-catalog {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
