.product__content-above {
	margin-bottom: 4rem;
}

.product__basic-parametrs {
	margin-bottom: 2rem;
}


.product__view {
	display: grid;
	align-content: space-evenly;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 4rem;
	margin-bottom: 4rem;
}

.product__images {
	text-align: center;
}

.product__title {
	margin-bottom: 2rem;
}

.product__cart-description {
	margin-bottom: 2rem;
}

.product__cart-data {
	margin-bottom: 2rem;
}

@media (min-width: 992px) {
	.product__view {
		grid-template-columns: 1fr 1fr;
	}
}
