.site-commerce-characteristics__group-title {
    font-weight: bold;
    padding-top: 1em;
}

.site-commerce-characteristics__item-title {
    width: 50%;
    line-height: 1.5em;
    padding: 0.2em 0.5em;
}

.site-commerce-characteristics__item-title-dots {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=) 0 80% repeat-x;
}

.site-commerce-characteristics__item-title-dots-span {
    background: #fff;
    padding-right: 5px;
}

.site-commerce-characteristics__item-title-dots-icon {
    margin-left: 2px;
    position: relative;
    color: #ddd;
    text-decoration: none;
}

.site-commerce-characteristics__item-title-dots-icon:hover {
    color: rgb(0, 179, 74);
}

.site-commerce-characteristics__tooltip {
    display: none;
}