.site-commerce-get-price-form {
    border-bottom: 1px solid #e4e4e4;
    padding: 1rem 0;
}

.site-commerce-get-price-form__get-price-button {
    width: 100%;
}

.site-commerce-get-price-form__name-price {
    margin-left: 1rem;
}

@media (min-width: 768px) {
    .site-commerce-get-price-form {
        display: flex;
        align-items: center;
    }
    .site-commerce-get-price-form__get-price-button {
        max-width: 200px;
    }
}