.site-commerce-product-characteristic-add-form {
    font-size: 12px;
}

.site-commerce-product-characteristic-add-form input,
.site-commerce-product-characteristic-add-form select {
    width: auto;
    padding: 0.2rem;
}

.site-commerce-product-characteristic-add-form input[type="text"] {
    width: 100%;
}

.site-commerce-product-characteristic-add-form label {
    display: block;
}

.product-parametrs__row-data-item {
    vertical-align: middle !important;
}

.site-commerce-edit__table {
    width: 100%;
}

.site-commerce-edit__table-cell {
    padding: 0.5rem;
}