{{ attach_library('site_commerce_product/price_editor') }}

{# Шаблон редактора прайс-листа #}
<table class="site-commerce-price-editor">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена от</th>
			<th>Цена</th>
			<th>Ед. изм.</th>
			<th>Действие</th>
		</tr>
	</thead>
	<tbody tid="{{ tid }}">
		{% for pid, data in products %}
			<tr id="product-{{ pid }}" class="site-commerce-price-editor__row">
				<td class="site-commerce-price-editor__col">{{ pid }}</td>
				<td class="site-commerce-price-editor__col">
					<a href="/product/{{ pid }}">{{ data.label }}</a>
				</td>
				<td class="site-commerce-price-editor__col">
          <input class="site-commerce-price-editor__number" id="site-commerce-price-editor__number-from-{{ pid }}" value="{{ data.number_from }}" step="0.01" min="0" type="number">
        </td>
				<td class="site-commerce-price-editor__col">
          <input class="site-commerce-price-editor__number" id="site-commerce-price-editor__number-{{ pid }}" value="{{ data.number }}" step="0.01" min="0" type="number">
        </td>
				<td class="site-commerce-price-editor__col">
					<select class="site-commerce-price-editor__select" id="site-commerce-price-editor__quantity-unit-{{ pid }}">
						{% for key, value in units %}
							{% if data.quantity_unit == key %}
								<option value="{{ key }}" selected="selected">{{ value }}</option>
							{% else %}
								<option value="{{ key }}">{{ value }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
				<td class="site-commerce-price-editor__col">
					<button class="site-commerce-price-editor__btn" tid="{{ tid }}" pid="{{ pid }}">{{ 'Save'|t }}</button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
