{# Подключаем библиотеку оформления #}
{{ attach_library('site_commerce_product/product') }}

{# Кнопки администрирования карточкой товара. #}
{# {% if logged_in and user.hasPermission('administer site_commerce') %}
  {{ attach_library('core/drupal.dialog.ajax') }}
  <h3>Функции администрирования в разработке (не использовать на рабочем проекте)</h3>
  <div class="site-commerce-administer-block">
    <button class="btn btn-primary use-ajax" data-dialog-type="modal" href="{{ path('site_commerce.products.create_version', {'pid': content.pid, 'clone_pid': content.pid}) }}" data-dialog-options='{"width":800}'>
      {{ "Create copy of product"|t }}
    </button>

    <button class="btn btn-primary use-ajax" data-dialog-type="modal" href="{{ path('site_commerce.product_characteristic_add_form', {'pid': content.pid}) }}" data-dialog-options='{"width":800}'>
      {{ "Add characteristic"|t }}
    </button>
  </div>
{% endif %} #}

<article{{attributes}}>
  <div class="product">

    {# Содержимое над карточкой товара #}
    {# {% if not (content.field_content_above.isEmpty == true) and content.field_content_above is defined %} #}
    {% if content.field_content_above[0] is not empty %}
      <div class="product__content-above">
        {{- content.field_content_above -}}
      </div>
    {% endif %}

    <div class="product__view">
      {# Изображения товара #}
      <div class="product__images">
        {# Изображения товаров #}
        {{ content.field_media_image }}
      </div>

      <div class="product__cart">
        {# Заголовок страницы #}
        {% if title %}
          <h1 class="page-title product__title">{{- title -}}</h1>
        {% endif %}

        {# Основные параметры товара #}
        {% if basic_parametrs %}
          <div class="product__basic-parametrs">
            {# Код товара на складе #}
            {% if code %}
              <div class="product__basic-parametrs-item">
                {{ 'Product code'|t }}:&nbsp;{{- code -}}
              </div>
            {% endif %}

            {# Номер по каталогу производителя #}
            {% if code_manufacturer %}
              <div class="product__basic-parametrs-item">
                {{ 'Catalog number'|t }}:&nbsp;{{- code_manufacturer -}}
              </div>
            {% endif %}

						{# Количество товара на складе #}
						{% if quantity_stock_allow and quantity_stock_value %}
							<div class="product__basic-parametrs-item">
								{{ 'In stock'|t }}&nbsp;{{- quantity_stock_value -}}&nbsp;{{- quantity_unit -}}
							</div>
						{% endif %}
          </div>
        {% endif %}

        {# Стоимость товара #}
        {{ content.price }}

        {# Если разрешено добавлять товар в корзину #}
        {% if cart %}
          {# Краткое описание над корзиной в карточке товара #}
          {% if cart_description %}
            <div class="product__cart-description">{{- cart_description -}}</div>
          {% endif %}

          {# Форма добавления в корзину #}
          <div class="product__cart-data">
            {{ cart.data }}
          </div>
        {% endif %}

        {# Краткое описание товара #}
        {% if content.field_summary[0] is not empty %}
          <div class="product__summary">{{- content.field_summary -}}</div>
        {% endif %}
      </div>
    </div>

    {# Основное содержимое карточки товара #}
    {% if content.field_content[0] is not empty %}
      <div class="product__content">
        {{- content.field_content -}}
      </div>
    {% endif %}
  </div>
</article>
