{% if categories %}
  <ul class="site-commerce-product-catalog-list">
    {% for tid, data in categories %}
      <li class="site-commerce-product-catalog-list__item">
        <a class="site-commerce-product-catalog-list__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">{{ data.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
