{{ attach_library('kvantstudio/utilities') }}

<div id="catalog-products-preview" class="catalog-products-preview">
  {% for key, data in products %}
    <div class="catalog-products__category">
      {% if data.name %}
        <div class="catalog-products__category-title">
          {% if data.tid %}
            <a class="catalog-products__category-title-link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': data.tid}) }}">
              <span class="catalog-products__category-title-header">{{ data.name }}</span>
            </a>
          {% else %}
            <span class="catalog-products__category-title-header">{{ data.name }}</span>
          {% endif %}
        </div>
        {% if data.summary %}
          <div class="catalog-products__category-summary">{{- data.summary|raw -}}</div>
        {% endif %}
      {% endif %}

      <div class="catalog-products__items">
        {% for product_id, item in data.items %}

          {% set classes_item = 'catalog-products__item' %}
          {% if item.quantity_stock_allow and item.quantity_stock_value == 0 %}
            {% set classes_item = 'catalog-products__item catalog-products__item_not-in-stock' %}
          {% endif %}

          <div class="{{ classes_item }}">
            <a class="catalog-products__item-link" href="{{ path('entity.site_commerce_product.canonical', {'site_commerce_product':product_id}) }}">
              {# Изображение товара #}
              <div class="catalog-products__item-element catalog-products__item-image">
                {{ item.field_media_image }}
              </div>

              {% set stockStatus = site_commerce_product_status_stock(item.site_commerce_product) %}
              {% if stockStatus %}
                <div class="catalog-products__item-element catalog-products__item-stock-status">{{ stockStatus }}</div>
              {% endif %}

              {# Цена товара #}
              <div class="catalog-products__item-element catalog-products__item-cost">
                {{ item.price }}
              </div>

              {# Количество на складе #}
              {% if item.quantity_stock_allow %}
                <div class="catalog-products__item-element catalog-products__item-quantity">
                  {% if item.quantity_stock_value %}
                    {{ 'In stock'|t }}&nbsp;{{- item.quantity_stock_value -}}&nbsp;{{- item.quantity_unit -}}
                  {% else %}
                    {{ 'Out of stock'|t }}
                  {% endif %}
                </div>
              {% endif %}

              {# Название товара #}
              <div class="catalog-products__item-element catalog-products__item-title">
                {% set title = item.title | render | striptags %}
                {{ title|length > 155 ? title|slice(0, 155) ~ '...' : title }}
              </div>

              {% if item.site_commerce_product.field_summary_catalog.value %}
                <div class="catalog-products__item-element catalog-products__item-details">
                  {{ item.site_commerce_product.field_summary_catalog.value|striptags }}
                </div>
              {% endif %}

              <div class="catalog-products__item-add-to-cart-form">
                {{ item.add_cart_form }}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>

      {% if data.tid %}
        <div class="catalog-products__read-more">
          <span class="catalog-products__read-more-category js-open-link" data-link="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': data.tid}) }}">
            {{ 'View all products'|t }}
            <svg class="b__pnPHbRM5M" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewbox="0 0 6 10" data-tid="ee3cea8f">
              <path d="M0.26539524,1.62627039 C-0.13724966,1.20513402 -0.0724902,0.554478684 0.39684933,0.208682552 C0.82663343,-0.107970248 1.45004248,-0.0601558306 1.81751265,0.324190408 L6.04898799,4.74999631 L1.81751265,9.17580221 C1.45004248,9.56014844 0.82663343,9.60796286 0.39684933,9.29131006 C-0.0724902,8.94551393 -0.13724966,8.29485859 0.26539524,7.87372222 L3.25196299,4.74999631 L0.26539524,1.62627039 Z"></path>
            </svg>
          </span>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
