{{ attach_library('kvantstudio/utilities') }}

<div id="catalog-products" class="catalog-products">
  {# Фильтры поиска по каталогу #}
  <div id="catalog-products-filters" class="catalog-products-filters">
    <div id="catalog-products-filters-categories" class="catalog-products-filters-categories">
      <span class="catalog-products-filters-categories__root">
        {{ 'Category'|t }}
      </span>
      {% if category.parents is not empty %}
        <div id="catalog-products-filters-categories__parents" class="catalog-products-filters-categories__parents">
          {% for tid, data in category.parents %}
            <div class="catalog-products-filters-categories__parents-item">
              <a class="catalog-products-filters__link catalog-products-filters__link-category catalog-products-filters__link-category_parent" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">
                <svg viewbox="0 2 14 14" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg" class="catalog-products-filters__arrow-back">
                  <path d="M5.293 12.293a1 1 0 101.414 1.414l5-5a1 1 0 000-1.414l-5-5a1 1 0 00-1.414 1.414L9.586 8l-4.293 4.293z" fill="currentColor"></path>
                </svg>
                {{ data.name }}
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <a class="catalog-products-filters__link catalog-products-filters__link-category catalog-products-filters__link-category_parent" href="/{{ category.root }}">
          <svg viewbox="0 2 14 14" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg" class="catalog-products-filters__arrow-back">
            <path d="M5.293 12.293a1 1 0 101.414 1.414l5-5a1 1 0 000-1.414l-5-5a1 1 0 00-1.414 1.414L9.586 8l-4.293 4.293z" fill="currentColor"></path>
          </svg>
          {{ 'Go to catalog'|t }}
        </a>
      {% endif %}

      {% if category.name is not empty %}
        <div class="catalog-products-filters-categories__current">
          {{ category.name }}
        </div>
      {% endif %}

      {% if categories is not empty %}
        <div id="catalog-products-filters-categories__items" class="catalog-products-filters-categories__items">
          {% for tid, data in categories %}
            <div class="catalog-products-filters-categories__item">
              <a class="catalog-products-filters__link catalog-products-filters__link-category" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">
                {% if data.count %}
                  {{ data.name }} <span class="catalog-products-filters__count">({{ data.count }})</span>
                {% else %}
                  {{ data.name }}
                {% endif %}

              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  {# Перечень товаров #}
  <div id="catalog-products-data" class="catalog-products-data">
    {% for key, data in products %}
      <div class="catalog-products__category">
        {% if data.name %}
          <div class="catalog-products__category-title">
            {% if data.tid %}
              <a class="catalog-products__category-title-link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': data.tid}) }}">
                <span class="catalog-products__category-title-header">{{ data.name }}</span>
              </a>
            {% else %}
              <span class="catalog-products__category-title-header">{{ data.name }}</span>
            {% endif %}
          </div>
          {% if data.summary %}
            <div class="catalog-products__category-summary">{{- data.summary|raw -}}</div>
          {% endif %}
        {% endif %}

        <div id="catalog-products__items" class="catalog-products__items">
          {% for product_id, item in data.items %}

            {% set classes_item = 'catalog-products__item' %}
            {% if item.quantity_stock_allow and item.quantity_stock_value == 0 %}
              {% set classes_item = 'catalog-products__item catalog-products__item_not-in-stock' %}
            {% endif %}

            <div class="{{ classes_item }}">
              <a class="catalog-products__item-link" href="{{ path('entity.site_commerce_product.canonical', {'site_commerce_product':product_id}) }}">
                {# Изображение товара #}
                <div class="catalog-products__item-element catalog-products__item-image">
                  {{ item.field_media_image }}
                </div>

                {% set stockStatus = site_commerce_product_status_stock(item.site_commerce_product) %}
                {% if stockStatus %}
                  <div class="catalog-products__item-element catalog-products__item-stock-status">{{ stockStatus }}</div>
                {% endif %}

                {# Цена товара #}
                <div class="catalog-products__item-element catalog-products__item-cost">
                  {{ item.price }}
                </div>

                {# Количество на складе #}
                {% if item.quantity_stock_allow %}
                  <div class="catalog-products__item-element catalog-products__item-quantity">
                    {% if item.quantity_stock_value %}
                      {{ 'In stock'|t }}&nbsp;{{- item.quantity_stock_value -}}&nbsp;{{- item.quantity_unit -}}
                    {% else %}
                      {{ 'Out of stock'|t }}
                    {% endif %}
                  </div>
                {% endif %}

                {# Название товара #}
                <div class="catalog-products__item-element catalog-products__item-title">
                  {% set title = item.title | render | striptags %}
                  {{ title|length > 155 ? title|slice(0, 155) ~ '...' : title }}
                </div>

                {% if item.site_commerce_product.field_summary_catalog.value %}
                  <div class="catalog-products__item-element catalog-products__item-details">
                    {{ item.site_commerce_product.field_summary_catalog.value|striptags }}
                  </div>
                {% endif %}

                <div class="catalog-products__item-add-to-cart-form">
                  {{ item.add_cart_form }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>
</div>
