{% if type == 'default' %}
	{{ cart_product_add_form(entity, is_catalog) }}
{% endif %}

{# {% if type == 'load_goto_order_checkout_form' %}
	<p>{{ 'You have added a product to cart.'|t }}</p>
	{{ goto_order_checkout_form() }}
{% endif %} #}
