{% if status == 1 %}
  <i class="fas fa-times"></i>
  {{ name }}
{% endif %}

{% if status == 2 %}
  <i class="fas fa-check"></i>
  {{ name }}
{% endif %}

{% if status == 3 %}
  <i class="far fa-clock"></i>
  {{ name }}
{% endif %}

{% if status == 4 %}
  <i class="fas fa-truck"></i>
  {{ name }}
{% endif %}

{% if status == 5 %}
  <i class="fas fa-ban"></i>
  {{ name }}
{% endif %}

{% if status == 6 %}
  <i class="fas fa-ban"></i>
  {{ name }}
{% endif %}
