<div class="site-commerce-settings">

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'New product'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.status_new }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Appearance'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.status_appearance }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Stock availability'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.status_stock }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Allow displaying the quantity in stock'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.quantity_stock_allow }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Quantity in stock'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.quantity_stock_value }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Unit of quantity measurement'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.quantity_unit }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Type of sale'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.status_type_sale }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Minimum order quantity'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.quantity_order_min }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Maximum order quantity'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.quantity_order_max }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Allow displaying the add to cart form'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.cart_form_allow }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Allow changing the quantity of products in the cart'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.cart_quantity_allow }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Event after adding to cart'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.cart_after_adding_event }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Button name adding to cart'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.cart_label_button_add }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		<div class="site-commerce-settings__title">
			{{ 'Button name buy in one click'|t }}
		</div>
		<div class="site-commerce-settings__data">
			{{ form.cart_label_button_click }}
		</div>
	</div>

	<div class="site-commerce-settings__block">
		{{ form.cart_description }}
	</div>
</div>
