{% if categories %}
	<ul class="site-commerce-product-catalog-children-list">
		{% for tid, data in categories %}
			<li class="site-commerce-product-catalog-children-list__item">
				{% if data.count_products %}
					<a class="site-commerce-product-catalog-children-list__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">{{ data.name }}</a> ({{ data.count_products }})
				{% else %}
						<a class="site-commerce-product-catalog-children-list__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">{{ data.name }}</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
