<div class="site-commerce-product-catalog">
  {% for tid, data in categories %}
    <div class="site-commerce-product-catalog__item">
      {% if data.field_media_image %}
        <div class="site-commerce-product-catalog__image">{{ data.field_media_image }}</div>
      {% endif %}
      <div class="site-commerce-product-catalog__title">
        <a class="site-commerce-product-catalog__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term':tid})}}">{{ data.name }}</a>
      </div>
      {# Подкатегории корневой категории товаров #}
      {{ site_commerce_product_catalog_children_list(tid, 1) }}
    </div>
  {% endfor %}
</div>
