<div class="carousel" data-flickity='{{ settings }}'>
	{% for delta, image in data %}
		<div class="carousel-cell">
			<img width="{{ image.style_width }}px" height="{{ image.style_height }}px" class="carousel-cell-image" src="{{ image.style_url }}" data-flickity-lazyload="{{ image.style_url }}" alt="{{ image.alt }}"/>
		</div>
	{% endfor %}
</div>
