{% for delta, image in data %}
  <div class="site-commerce-product-catalog-media-image">
    <img
    width="{{ image.style_width }}px"
    height="{{ image.style_height }}px"
    class="site-commerce-product-catalog-media-image__item"
    src="{{ image.style_url }}" loading="lazy"
    alt="{{ image.alt }}"
    />
  </div>
{% endfor %}
