<table class="site-commerce-characteristics">
    <tbody>
        {% for gid, data in groups %}
            <tr>
                <td class="site-commerce-characteristics__group-title">
                    {{ data.title }}
                </td>
                <td class="site-commerce-characteristics__item-title">
                    <i class="fas fa-edit"></i>
                    <a href="/admin/config/kvantstudio/site-commerce-characteristics-group/{{ gid }}" class="use-ajax" data-dialog-type="modal">{{ 'Edit'|t }}</a>
                    <i class="fas fa-trash-alt"></i>
                    <a href="/admin/config/kvantstudio/site-commerce-characteristics-group-confirm-delete/{{ gid }}" class="use-ajax" data-dialog-type="modal">{{ 'Delete'|t }}</a>
                </td>
            </tr>
            {% for cid, characteristic in data.characteristics %}
                <tr>
                    <td class="site-commerce-characteristics__item-title">
                        <div class="site-commerce-characteristics__item-title-dots">
                            <span class="site-commerce-characteristics__item-title-dots-span">
                                {{ characteristic.title }}
                                {% if characteristic.description is not empty %}
                                    <a href="#" data-tooltip-content="#site-commerce-characteristics__tooltip-{{ cid }}" class="tooltip-click site-commerce-characteristics__item-title-dots-icon">
                                        <i class="far fa-question-circle"></i>
                                    </a>
                                {% endif %}
                            </span>
                            <div class="site-commerce-characteristics__tooltip">
                                <span id="site-commerce-characteristics__tooltip-{{ cid }}">{{ characteristic.description }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="site-commerce-characteristics__item-title">
                        <i class="fas fa-edit"></i>
                        <a href="/admin/config/kvantstudio/site-commerce-characteristics-item/{{ cid }}" class="use-ajax" data-dialog-type="modal">{{ 'Edit'|t }}</a>
                        <i class="fas fa-trash-alt"></i>
                        <a href="/admin/config/kvantstudio/site-commerce-characteristics-item-confirm-delete/{{ cid }}" class="use-ajax" data-dialog-type="modal">{{ 'Delete'|t }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>