.site-commerce-price-group-header {
  display: block;
}

.site-commerce-price-group-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 992px) {
  .site-commerce-price-group-header {
    display: flex;
    gap: 1rem;
  }
  .site-commerce-price-group-footer {
    grid-template-columns: 1fr 1fr;
  }
}
