.site-commerce-price-group-default-formatter {
	margin-bottom: 1rem;
}

.site-commerce-price-group-default-formatter__prefix {
	margin-bottom: 1rem;
}

.site-commerce-price-group-default-formatter__suffix {
	margin-top: 1rem;
}

.site-commerce-price-group-default-formatter__value {
	font-size: 1.8em;
}

.site-commerce-price-group-default-formatter__from {
	font-size: 1rem;
}

.site-commerce-price-group-default-formatter__cost-from {
	font-weight: 500;
}

.site-commerce-price-group-default-formatter__cost-value {
	font-weight: 500;
}

.site-commerce-price-group-default-formatter__cost-value-basic {
	font-size: 1.3rem;
	color: #888888;
}

.site-commerce-price-group-default-formatter__cost-value-sale {
	color: #ff0000;
}

.site-commerce-price-group-default-formatter__quantity-unit {
	font-size: 0.7em;
	color: #888888;
}
